.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .dpad {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    width: 60px;
    height: 60px;
    z-index: 5;

    > * {
      width: 33%;
      height: 33%;
      position: absolute;
      background-color: #565e6a;
      cursor: pointer;
    }

    .up {
      top: calc(0% + 2px);
      left: 33%;
      border-top: 2px solid black;
      border-left: 2px solid black;
      border-right: 2px solid black;
      border-radius: 2.5px 2.5px 0px 0px;

      &:active {
        background: linear-gradient(to top, #565e6a 0%, #333 100%);
      }
    }
    .right {
      top: 33%;
      left: calc(66% - 2px);
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-right: 2px solid black;
      border-radius: 0px 2.5px 2.5px 0px;
      box-shadow: 0px -1px 0px #888 inset;

      &:active {
        background: linear-gradient(to right, #565e6a 0%, #333 100%);
      }
    }
    .down {
      top: calc(66% - 2px);
      left: 33%;
      border-left: 2px solid black;
      border-bottom: 2px solid black;
      border-right: 2px solid black;
      border-radius: 0px 0px 2.5px 2.5px;
      box-shadow: 0px -1px 0px #888 inset;

      &:active {
        background: linear-gradient(to bottom, #565e6a 0%, #333 100%);
      }
    }
    .left {
      top: 33%;
      left: calc(0% + 2px);
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-left: 2px solid black;
      border-radius: 2.5px 0px 0px 2.5px;
      box-shadow: 0px -1px 0px #888 inset;

      &:active {
        background: linear-gradient(to left, #565e6a 0%, #333 100%);
      }
    }
    .middle {
      top: 33%;
      left: 33%;
      z-index: -5;

      &::after {
        content: "";
        position: absolute;
        top: 20%;
        left: 20%;
        display: inline-block;
        border: 1px solid #6e737a;
        background: linear-gradient(to bottom, #6d7075 0%, #6d7075 30%, #23272f 70%, #23272f 100%);
        border-radius: 50%;
        height: 60%;
        width: 60%;
      }
    }

    .up-down {
      background-color: #565e6a;
      border: 4px solid black;
      border-radius: 5px;
      width: 20px;
      height: 60px;
    }
    .left-right {
      background-color: #565e6a;
      border: 4px solid black;
      border-radius: 5px;
      width: 60px;
      height: 20px;
    }
  }
  .a-b {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 45px;
    margin-right: 20px;

    .a,
    .b {
      position: absolute;
      display: inline-block;
      font-size: 11px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      background-color: #2c313e;
      border-bottom: 1px solid #888;
      box-shadow: -0.5px 0.5px 2px black, 0px 0px 2.5px black inset;
      text-shadow: 0px -0.5px 0.5px #cacaca;
      color: #2c313e;
      text-align: center;
      -webkit-user-select: none;
      cursor: pointer;
      transition: box-shadow 0.1s ease-out, border 0.1s ease-out, line-height 0.2s ease-out;

      &:active {
        box-shadow: -0.5px 0.5px 0.5px black, 0px 0px 2.5px black inset;
        border-width: 0px;
        line-height: 22px;
      }
    }
    .a {
      top: 15px;
      right: 20px;
    }
    .b {
      top: 35px;
      left: 0%;
    }
  }
}

.start-select {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;

  .select,
  .start {
    display: inline-block;
    color: #acb3be;
    text-shadow: 0px -1px 0px #59739e;
    letter-spacing: -1px;
    width: 55px;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;

    &::before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 30px;
      height: 10px;
      margin-bottom: 3px;
      border-radius: 40%;
      background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 30%, #62636c 70%, #62636c 100%);
      background-repeat: no-repeat;
      border: 2px solid #050505;
      box-shadow: 0px -2px 1px #849ec7;
      cursor: pointer;
    }
    &:active::before {
      background: linear-gradient(to bottom, #0b0a1c 0%, #0b0a1c 50%, #62636c 100%);
    }
  }
}
